:root {
  --indigo-color: #0F0346;
  --lightblue-color: #93AAEB;
  --menu-text-color: #ffffff;
  --active-color: #4285F4;
  --heading-gray-color: #737373;
  --text-gray-color: #7D7D7D;
  --text-color: #000000;
}